body {
	background-color: #34495e;
	border: 5px solid #95a5a6;
	margin: 25px;
	padding: 50px, 40px, 50px, 40px;
}
/*styles for .nav */

.nav {
	padding: 30px 0px;
	border-bottom: 2px solid #95a5a6;
	text-align: center;
	margin: 0 60px;
}
.nav__link {
	font-size: 20px;
	font-weight: 600;
	color: #16a085;
	padding: 0 20px;
	border-right: 1px solid #95a5a6;
	display: inline-block;
	line-height: 15px;
}
.nav__link--last {
	border-right: none;
}
.nav__link--active {
	color: white;
	text-decoration: none;
	font-weight: 800;
	pointer-events: none;
}
.nav--bottomborder {
	border-bottom: none;
	border-top: 2px solid #95a5a6;
}

/* styles for .name */

.name {
	padding-top: 25px;

}
.name__title {
	color: white;
	font-style: italic;
	font-size: 55px;
	text-align: center;
	margin: 0;
}

/*styles for .main */
.main {
	color: white;
	padding: 10px 0;
	font-size: 14px;
	text-align:left;
	margin: 0 60px;
}
.main__title {
	font-size: 25px;
	font-weight: 800;
}
